* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
}


.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;

}

.flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexEndItemsEnd {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 80%;
}

.flexEndColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.flexCenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}